name: Release

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-go@v2
        with:
          go-version: ^1.19

      - name: Build
        run: make release

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/*
          draft: true
          generate_release_notes: true
          body: |
            * 这是 GitHub Actions 自动化部署，更新日志应该很快会手动更新
